.Intro {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  height: 90vh;
  width: 100%;
  display: flex;
  margin-top: 4rem;
}

.i-right {
  width: 50%;
  position: relative;
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left {
  margin-top: 9.375rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.i-left > :nth-child(1) {
  color: black;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
}

.i-left > :nth-child(2) {
  color: rgb(159, 14, 159);
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
}

.i-left > :nth-child(3) {
  color: rgb(82, 82, 82);
  text-align: left;
  margin-top: 0.3125rem;
  margin-bottom: 1.875rem;
}

.button {
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background: linear-gradient(180deg, #ce7eff 26.71%, #b42ffb 99.36%);
  border: none;
  box-shadow: 0 1.25rem 1.5rem 0.1875rem rgba(184, 40, 251, 0.42);
  color: aliceblue;
  font-size: 1.1rem;
}

.icons {
  display: flex;
  justify-content: left;
  margin: 6.25rem 3.125rem 3.125rem 0.625rem;
  gap: 4.375rem;
}

.i {
  color: #b42ffb;
  scale: 2.2;
}

.icons img {
  height: 2.8125rem;
  margin: 6.25rem 3.125rem 3.125rem 0;
}

.y-bg {
  width: 60%;
  position: absolute;
  bottom: 25%;
  left: 0;
}

.b-bg {
  width: 80%;
  position: absolute;
  bottom: 25%;
  left: 3rem;
  z-index: -10;
}

.boy {
  position: absolute;
  top: 0;
  left: 9.375rem;
  z-index: 2;
  scale: 1.1;
}

.g-emoji {
  position: absolute;
  top: 0rem;
  left: -40rem;
  z-index: 1;
  scale: 0.6;
  animation: right 0.5s 1 forwards;
}

.img-cont {
  position: absolute;
  width: 10rem;
  height: 3rem;
  padding: 1.25rem 2.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  animation: left 0.5s 1 forwards;
}

.img-cont img {
  width: 3rem;
}

.i-right > :nth-child(6) {
  top: 2rem;
  right: 2rem;
  z-index: 1;
}

.i-right > :nth-child(4) {
  bottom: 22%;
  left: 1rem;
  z-index: 2;
}

.blur1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 25rem;
  height: 25rem;
  background-color: rgb(238, 210, 255);
  border-radius: 50%;
  filter: blur(4.5rem);
}

.blur2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25rem;
  height: 25rem;
  background: rgb(193, 245, 255);
  border-radius: 50%;
  filter: blur(4.5rem);
}

@keyframes left {
  0% {
    transform: translateX(12.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(-15rem);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .g-emoji {
    left: -12.5rem;
  }
  .img-cont {
    width: 8rem;
    height: 2.5rem;
    padding: 0.75rem 1.5rem;
    top: 20rem;
    left: 1rem;
    gap: 0.75rem;
  }
  .img-cont img {
    width: 2.5rem;
  }
}

@media (max-width: 480px) {
  .intro {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .i-right {
    height: 55vh;
    width: 100%;
  }
  .blur1,
  .blur2 {
    width: 15rem;
    height: 15rem;
  }
  .boy {
    width: 60%;
    left: 25%;
    bottom: 0;
  }
  .img-cont p {
    font-size: 12px;
  }
  .i-right > :nth-child(6) {
    top: 2rem;
    left: 60%;
  }
  .g-emoji {
    top: -3rem;
    left: -2rem;
    z-index: 1;
    scale: 0.4;
  }
  .i-left {
    width: 100%;
  }
  .i-left {
    margin-top: 0;
    text-align: center;
  }
  .icons {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .i {
    height: 1.4rem;
    margin: 0;
  }
  .i-left > :nth-child(1) {
    font-size: 2.5rem;
  }

  .i-left > :nth-child(2) {
    font-size: 2.5rem;
  }
}
